@page
@model aspnet_core_dotnet_core.Pages.CartModel
@{
  
}
<br />
<h4>Cart </h4>
@*
 @foreach (var obj in Model.cart)
        {
          <div>
               @obj.Product.name
          </div>
          <br />
            <div class="card border-secondary">
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr class="table-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
 
                        <tr class="table-danger">
                            <td width="50%">
                                @obj.Product.name
                            </td>
                            <td width="10%">
                                <form method="post">
                                 <button id="inc" type="submit" class="btn btn-outline-dark">+</button>
                                 <input id="" asp-for="@obj.Quantity" class="form-control"/>
                                 <button id="dec" type="submit" class="btn btn-outline-dark">-</button>
                                </form>
                            </td>
                            <td width="20%">
                                Rs.
                                @obj.Product.price
                                /-
                            </td>
                            <td width="20%">
                                Rs.
                                @{
                                    TotalPrice = obj.Product.price * obj.Quantity;
                                    GrandTotal = GrandTotal + TotalPrice;
                                }
                                @TotalPrice /-
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
<div class="text-end">
    <button type="button" class="btn btn-warning"><i class="bi bi-wallet-fill"></i> &nbsp; Grand Total: @GrandTotal</button>
    <button type="button" class="btn btn-light"><i class="bi bi-paypal"></i> &nbsp; PayPal</button>
    <button type="button" class="btn btn-danger"><i class="bi bi-wallet"></i> &nbsp; UPI</button>
    <button type="button" class="btn btn-success"><i class="bi bi-credit-card"></i> &nbsp; Card</button>
</div>
*@
<br />

<form method="post" asp-page="cart" asp-page-handler="update">
    <table border="1" class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr class="table-primary">
            <th width="10%">Action</th>
            <th width="10%">Item Number</th>
            <th width="10%">Name</th>
            <th width="25%"><center>Photo</center></th>
            <th width="10%">Price</th>
            <th width="15%">Quantity</th>
            <th width="10%">Sub Total</th>
        </tr>
        </thead>
        @foreach (var item in Model.cart)
        {
            <tr class="table-danger" align="center">
                <td align="center" width="10%">
                    <a id="delete" class="btn btn-info" asp-page="cart" asp-page-handler="delete" asp-route-id="@item.Product.ID">Delete</a>
                </td>
                <td width="10%">@item.Product.ID</td>
                <td width="10%">@item.Product.name</td>
                <td width="25%"><img src="@item.Product.image" width="120" height="100" /></td>
                <td width="10%">Rs. @item.Product.price /-</td>
                <td width="15%"><input class="form-control" type="number" name="quantities" value="@item.Quantity" min="1" style="width: 50px;" /> <input id="update" class="btn btn-info" type="submit" value="Update" /></td>
                <td width="10%">
                    Rs. @(item.Product.price * item.Quantity) /-
                </td>
            </tr>
        }
        <tr>
            <td colspan="6" align="right">Total</td>
            <td align="center">Rs. @Model.Total /-</td>
        </tr>
    </table>
</form>
<a asp-page="pizza">Add more Pizza</a>
<div class="text-end"> 
    <a id="total" type="button" asp-page="Checkout" class="btn btn-warning"><i class="bi bi-wallet-fill"></i> &nbsp; Grand Total: @Model.Total </a>
    <a id="total" type="button" asp-page="Checkout" class="btn btn-light"><i class="bi bi-paypal"></i> &nbsp; PayPal</a>
    <a id="total" type="button" asp-page="Checkout" class="btn btn-danger"><i class="bi bi-wallet"></i> &nbsp; UPI</a>
    <a id="total" type="button" asp-page="Checkout" class="btn btn-success"><i class="bi bi-credit-card"></i> &nbsp; Card</a>
</div>
<br />
<br />
