@page
@model aspnet_core_dotnet_core.Pages.PizzaModel
@{
}
<br />
<h4>Your Pizza page.</h4>
 @foreach (var obj in Model.Products)
{
    
@*    <img src="@obj.image" height="350" width="340" style="padding:5px;" alt="...">
    <h3 class="font-monospace">@obj.name</h3>*@

    <div class="card border-light mb-3" style="max-width: 1100px;">
    <div class="row g-0" >
            <div class="col-md-4">
            <img src="@obj.image" height="350" width="340" style="padding:5px;" alt="...">
        </div>
            <div class="col-md-8">
             <div class="card-body border-danger">
                <h5 class="card-title">@obj.name</h5>
                    <h5 class="card-text"><i class="bi bi-currency-rupee"></i> @obj.price</h5>
                <h6 class="card-subtitle text-muted">Only /-</h6><br>
                <p class="card-text">Description: @obj.description .</p>
                <a href="#" class="card-link">Official link</a>
                <a href="#" class="card-link">How to make?</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a id="add-to-cart"  class="btn btn-primary" asp-page="/Cart" asp-page-handler="buynow" asp-route-id="@obj.ID"><i class="bi bi-cart-fill"></i> &nbsp; Add to Cart</a>
                    <button type="button" class="btn btn-secondary" ><i class="bi bi-bag-heart-fill"></i> &nbsp; Wishtlist</button>
            </div>
        </div>
            <ul class="card border-secondary mb-3 list-group list-group-flush">
                <li class="list-group-item">Bank Offer 5% Cashback on Axis Bank Credit Card T&C</li>
                <li class="card border-secondary mb-1 list-group-item">Bank OfferExtra 2% off on UPI transactionsT&C</li>
                <li class="list-group-item">Paytm Offer get 5% cashback</li>
            </ul>
    </div>
</div><br />
}
